.cache
.conan
.clang*
.DS_Store
.logs/
imgui.ini
build*/
Testing/
build
*.png
graph_info.json
__pycache__/
compile_commands.json
*package/*
conan.lock
conan_ycm*
conanbuild*
conaninfo.txt
*.sw*
conan_imports_manifest.txt
x86_64*/
.vscode
